// =============================================================================

                        // # DOTcta THEME -- CHALK & RED

// =============================================================================

// **
// *
// * To use a DOTcta theme, make sure you uncomment the line that imports the
// * variables in partials/_variables - look for
// * @import 'themes/dotcta-theme-variables/[NAME-OF-THEME]'
// * Don't forget to replace [NAME-OF-THEME} with this filename 
// * 'chalk-and-red'
// *				



$custom-primary-color         : #D9042B;
$custom-primary-text          : #FFFFFF;
$custom-secondary-color       : #ADD9C9;
$custom-secondary-text        : #0B3A40;
$custom-hover-color           : #0B3A40;
$custom-hover-text            : #FFFFFF;