// =============================================================================

                            // # DOTcta THEME -- PASTELS

// =============================================================================

// **
// *
// * To use a DOTcta theme, make sure you uncomment the line that imports the
// * variables in partials/_variables - look for
// * @import 'themes/dotcta-theme-variables/[NAME-OF-THEME]'
// * Don't forget to replace [NAME-OF-THEME} with this filename 
// * 'pastels'
// *				



$custom-primary-color         : #605576;
$custom-primary-text          : #FFFFFF;
$custom-secondary-color       : #64ACCC;
$custom-secondary-text        : #FFFFFF;
$custom-hover-color           : #E8A357;
$custom-hover-text            : #605576;