/* =============================================================================

                                    #BASE

============================================================================= */



body {
    font-size: 14px;
    line-height: 1.5;
}


button {
    padding: 0;
    border: none;
    font: inherit/inherit inherit;
}


input[type] {

    &.cta {
        @include box-shadow (none);
        border: none;
    }
}


.cta {
    font-family: Arial, Helvetica, sans serif;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    padding: 8px 2%;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    @include box-sizing;
    @include user-select;
    @include transition;


    &:hover, &:focus {
         text-decoration: none !important;
    }
}
