// =============================================================================

                                // # HLEPERS

// =============================================================================

// *** Width and Height

@mixin proportions ($width, $height) {
    width:  $width;
    height: $height;
}




// *** Spacing

@mixin gutters ($padding, $margin) {
    padding: $padding;
    margin:  $margin;
}




// *** Spacing - padding

@mixin paddingTopBotttom ($top, $bottom) {
    padding-top:    $top;
    padding-bottom: $bottom;
}

@mixin paddingLeftRight ($left, $right) {
    padding-left:  $left;
    padding-right: $right;
}




// *** Spacing - margin

@mixin marginTopBottom ($top, $bottom) {
    margin-top:    $top;
    margin-bottom: $bottom;
}

@mixin marginLeftRight ($left, $right) {
    margin-left:  $left;
    margin-right: $right;
}



// *** Borders

@mixin borderTopBottom ($arg) {
    border-top:    $arg;
    border-bottom: $arg;
}

@mixin borderLeftRight ($arg) {
    border-left:  $arg;
    border-right: $arg;
}




// *** Anchors and buttons

@mixin anchor ($colour, $decoration) {
    colour:          $colour;
    text-decoration: $decoration;
}

@mixin button ($background, $colour, $decoration : none) {
    background-color: $background;
    color:            $colour;
    text-decoration:  $decoration;
}




// *** Themes

@mixin theme ($background, $colour) {
    background-color: $background;
    color:            $colour;
}