/* =============================================================================

                                    #RESPONSIVE

============================================================================= */



.cta,
.cta-2, .ct-3, cta-4 {

    @include respondTo (uptoXSmallDevices) {
        display: block;
        width: 100%;
        clear: both;
        margin-left: auto !important;
        margin-right: auto !important;
        padding-left: !important;
        padding-right: 0 !important;
    }

}
