.cta, 
.cta-2, .ct-3 {
    
    @include respondTo (uptoXSmallDevices) {
        display: block;
        width: 100%;
        clear: both;
        
        @include marginLeftRight (auto !important, auto !important);
        @include paddingLeftRight (0 !important, 0 !important); 
    }
    
}