/* =============================================================================

                        # FOR DOTcta THEMES AND CUSTOM THEME

============================================================================= */




/* -------------------------- # COLOUR USAGE ------------------------------ */


/* *** Primary colour */

.primary-color-bg {
	background-color: $custom-primary-color;	
}

.primary-color-text {
	color: $custom-primary-color;
}



/* *** Secondary colour */

.secondary-color-bg {
	background-color: $custom-secondary-color;	
}

.secondary-color-text {
	color: $custom-secondary-color;
}





/* -------------------------- # PRIMARY COLOUR ------------------------------ */



.cta-primary {
    &.cta-flat {
        @include theme ($custom-primary-color, $custom-primary-text);
    }
    
    &.cta-glossy {
        @include gradient ($custom-primary-text, lighten($custom-primary-color, $glossy-primary-lighten), $amount-glossy-top, $custom-primary-color, $amount-glossy-bottom);
    }

    &.cta-gradient {
        @include gradient ($custom-primary-text, lighten($custom-primary-color, $gradient-primary-lighten), $amount-gradient-top, $custom-primary-color, $amount-gradient-bottom);
    }


    &.cta-hollow,
    &.cta-hollow-thick,
    &.cta-hollow-thicker {
        @include borderedTheme(none, $custom-primary-color, $custom-primary-color);
    }
}





/* -------------------------- # SECONDARY COLOUR ------------------------------ */



.cta-secondary {
    &.cta-flat {
        @include theme ($custom-secondary-color, $custom-secondary-text);
    }
    
    &.cta-glossy {
        @include gradient ($custom-secondary-text, lighten($custom-secondary-color, $glossy-secondary-lighten), $amount-glossy-top, $custom-secondary-color, $amount-glossy-bottom);
    }

    &.cta-gradient {
        @include gradient ($custom-secondary-text, lighten($custom-secondary-color, $gradient-secondary-lighten), $amount-gradient-top, $custom-secondary-color, $amount-gradient-bottom);
    }


    &.cta-hollow,
    &.cta-hollow-thick,
    &.cta-hollow-thicker {
        @include borderedTheme(none, $custom-secondary-color, $custom-secondary-color);
    }
}






/* -------------------------- # HOVER/FOCUS ---------------------------- */

.cta {
    &.cta-primary, &.cta-secondary {
       &.cta-flat {
            &:hover, &:focus {
                @include theme ($custom-hover-color, $custom-hover-text);
            }
       }
        
        &.cta-hollow, &.cta-hollow-thick, &.cta-hollow-thicker {
            &:hover, &:focus {
                @include borderedTheme ($custom-hover-color, $custom-hover-text, $custom-hover-color);
            }
       }
        
       &.cta-glossy {
           &:hover, &:focus {
                @include gradient ($custom-hover-text, lighten($custom-hover-color, $glossy-hover-lighten), $amount-glossy-top, $custom-hover-color, $amount-glossy-bottom);
           }
        }

        &.cta-gradient {
            &:hover, &:focus {
                @include gradient ($custom-hover-text, lighten($custom-hover-color, $glossy-hover-lighten), $amount-gradient-top, $custom-hover-color, $amount-gradient-bottom);
            }
        }
    }
}
