// *** Custom theme colours

$custom-primary-color         : #2F2628;
$custom-primary-text          : #fff;
$custom-secondary-color       : #AB5925;
$custom-secondary-text        : #fff;
$custom-tertiary-color        : #F7CEA0;
$custom-tertiary-text         : #AB5925;
$custom-hover-color           : #405670;
$custom-hover-text            : #F7CEA0;
