// =============================================================================

                                    // # VARIABLES

// =============================================================================




// *** Gradient/Glossy amount

$amount-gradient-top           : 50%;
$amount-gradient-bottom        : 100%;
$amount-glossy-top             : 50%;
$amount-glossy-bottom          : 55%;




// *** Gradient/Glossy lighten amount

$glossy-primary-lighten        : 10;
$gradient-primary-lighten      : 10;
$glossy-secondary-lighten      : 10;
$gradient-secondary-lighten    : 10;
$glossy-tertiary-lighten       : 5;
$gradient-tertiary-lighten     : 5;
$glossy-hover-lighten          : 5;
$gradient-hover-lighten        : 5;
