/* =============================================================================

                                # BUTTON SIZES

============================================================================= */



/* -------------------------------------------- Extra Large */

.cta-xl {
    font-size: 2.2em;
}


/* -------------------------------------------- Large */

.cta-lg {
    font-size: 1.8em;
}


/* -------------------------------------------- Medium */

.cta-md {
    font-size: 1.35em;
}

/* -------------------------------------------- Small */

.cta-sm {
    font-size: 1em;
}


/* -------------------------------------------- Extra small */

.cta-xs {
    font-size: 0.8em;
}

