/* =============================================================================

                                # BUTTON SHAPES

============================================================================= */


/* -------------------------------------------- Curved edges */

.cta-curved {
    border-radius: 0.3em;
}


/* -------------------------------------------- Rounded edges */

.cta-pill {
    border-radius: 2.3em;
}

/* -------------------------------------------- Swoosh edges */

.cta-swoosh {
    border-radius: 1.3em 0 1.3em 0;
}

/* -------------------------------------------- Swoosh reversed edges */

.cta-swoosh-r {
    border-radius: 0 1.3em 0 1.3em;
}
