/* =============================================================================

                                # BUTTON SIZES

============================================================================= */

/* -------------------------------------------- Extra Large */

[class*=cta-xl] {
	font-size: 2.2em;
}


/* -------------------------------------------- Large */

[class*=cta-lg] {
	font-size: 1.8em;
}


/* -------------------------------------------- Medium */

[class*=cta-md] {
	font-size: 1.35em;
}

/* -------------------------------------------- Small */

[class*=cta-sm] {
	font-size: 1em;
}


/* -------------------------------------------- Extra small */

[class*=cta-xs] {
	font-size: 0.8em;
}

