/* =============================================================================

                         # BUTTON HELPER -- CTA WIDE

============================================================================= */


.cta-flat,
.cta-glossy,
.cta-gradient {

    &.cta-wide {
        line-height: 1.5;
        padding: 8px 4em !important;
    }
}

.cta-hollow {

    &.cta-wide {
        border: 1px solid;
        line-height: 1.41;
        padding: 8px 3.85em !important;
    }
}



.cta-hollow-thick {

    &.cta-wide {
        border: 3px solid;
        line-height: 1.22;
        padding: 8px 3.9em !important;
    }
}

.cta-hollow-thicker {

    &.cta-wide {
        border: 6px solid;
        line-height: 0.98;
        padding: 10px 3.75em !important;
    }
}
