/* =============================================================================

                         # BUTTON HELPER -- CTA NO STACK

============================================================================= */



/**
 * Ignores responsive styling
*/



@include respondTo (uptoXSmallDevices) {

    .cta-no-stack {
        display: inline !important;
        width: auto !important;
        margin-left: 0 !important;
        margin-right: 0 !important;

        // -------------------------------------------- Flat, Glossy, Gradient ***

        &.cta-flat,
        &.cta-glossy,
        &.cta-gradient {
            padding: 8px 1em !important;

            &.cta-wide {
                padding: 8px 5em !important;
            }
        }



    // -------------------------------------------- Hollow ***

        &.cta-hollow {
            padding: 8px 0.85em !important;

            &.cta-wide {
                padding: 8px 4.85em !important;
            }
        }


    // -------------------------------------------- Hollow thick ***

        &.cta-hollow-thick {
            padding: 8px 0.6em !important;

            &.cta-wide {
                padding: 8px 4.6em !important;
            }
        }


    // -------------------------------------------- Hollow extra thick ***

        &.cta-hollow-thicker {
            padding: 10px 1.2em !important;

            &.cta-wide {
                border: 6px solid;
                line-height: 0.98;
                padding: 10px 4.2em !important;
            }
        }
    }
}


