// *** Custom theme colours

$custom-primary-color         : #9F492E;
$custom-primary-text          : #fff;
$custom-secondary-color       : #255D60;
$custom-secondary-text        : #fff;
$custom-hover-color           : #C5A129;
$custom-hover-text            : darken(#C5A129, 30);