// =============================================================================

                            // # DOTcta THEME -- FOREST

// =============================================================================

// **
// *
// * To use a DOTcta theme, make sure you uncomment the line that imports the
// * variables in partials/_variables - look for
// * @import 'themes/dotcta-theme-variables/[NAME-OF-THEME]'
// * Don't forget to replace [NAME-OF-THEME} with this filename
// * 'forest'
// *



$custom-primary-color         : #16706A;
$custom-primary-text          : #FFFFFF;
$custom-secondary-color       : #DC6E44;
$custom-secondary-text        : #FFFFFF;
$custom-tertiary-color        : #853D2F;
$custom-tertiary-text         : #FFFFFF;
$custom-hover-color           : #400F0D;
$custom-hover-text            : #FFFFFF;
