// =============================================================================

                            // # DOTcta THEME -- SIMPLE BLUE

// =============================================================================

// **
// *
// * To use a DOTcta theme, make sure you uncomment the line that imports the
// * variables in partials/_variables - look for
// * @import 'themes/dotcta-theme-variables/[NAME-OF-THEME]'
// * Don't forget to replace [NAME-OF-THEME} with this filename
// * 'simple-blue'
// *



$custom-primary-color         : #2795C1;
$custom-primary-text          : #ffffff;
$custom-secondary-color       : #207CC0;
$custom-secondary-text        : #FFFFFF;
$custom-tertiary-color        : #1796E5;
$custom-tertiary-text         : #FFFFFF;
$custom-hover-color           : #024A94;
$custom-hover-text            : #FFFFFF;
