// =============================================================================

                            // # DOTcta THEME -- SUNNY

// =============================================================================

// **
// *
// * To use a DOTcta theme, make sure you uncomment the line that imports the
// * variables in partials/_variables - look for
// * @import 'themes/dotcta-theme-variables/[NAME-OF-THEME]'
// * Don't forget to replace [NAME-OF-THEME} with this filename
// * 'sunny'
// *



$custom-primary-color         : #00C9DD;
$custom-primary-text          : #FFFFFF;
$custom-secondary-color       : #F59300;
$custom-secondary-text        : #FFFFFF;
$custom-tertiary-color        : #F5B51C;
$custom-tertiary-text         : #FFFFFF;
$custom-hover-color           : #213D64;
$custom-hover-text            : #FFFFFF;
