// =============================================================================

                            // # DOTcta THEME -- WOODBURN

// =============================================================================

// **
// *
// * To use a DOTcta theme, make sure you uncomment the line that imports the
// * variables in partials/_variables - look for
// * @import 'themes/dotcta-theme-variables/[NAME-OF-THEME]'
// * Don't forget to replace [NAME-OF-THEME} with this filename
// * 'woodburn'
// *



$custom-primary-color         : #900B0E;
$custom-primary-text          : #FFFFFF;
$custom-secondary-color       : #400F0D;
$custom-secondary-text        : #FFFFFF;
$custom-tertiary-color        : #B84A00;
$custom-tertiary-text         : #FFFFFF;
$custom-hover-color           : #240E00;
$custom-hover-text            : #FFFFFF;
